<h4>Events</h4>
	<div class="row">
		<%= link_to "Add New Event", new_event_path, class: 'waves-effect waves-light btn right'%>
	</div>
<div class="row centered place">

<% @events.each do |event| %>
<div class="event z-depth-1 col m5 s12">
	<div class="avatar"><%= link_to event_path(event) do %>
	<%= image_tag event.image.url(:thumb) %>
		<% end %>
	</div>
		<div class="information">
			<div class="primary">
						<div class="titlename truncate"><%= link_to event.eventname, event %></div>
						</div>
						<div class="secondary">
						<span class="date"><%= event.date.strftime("%a %b %e") %></span>
						<span class="time"><%= event.time %></span>
						</div>
						<div class="divider"></div>
						<div class="tertiary">
							<div class="rsvp-count">
								<span>
									<%= link_to 'View RSVPs', event_rsvps_path(event), class: 'label p' %>
								 </span>
							</div>
							<div class="actions">
								<%= link_to (edit_event_path(event)) do %>
									 <i class="material-icons icon-purple">mode_edit</i>
								<% end %>
								<%= link_to (event_path(event)), method: :delete, data: { confirm: 'Are You Sure?'} do %>
								<i class="material-icons icon-purple">delete</i>
								<% end %>
							</div>
						</div>
			</div>
</div>
<% end %>
</div>
