<div class="sp"><%= link_to "Dashboard", events_path %> > New Event</div>
<h4>New Event</h4>
<%= simple_form_for @event, url: events_path do |f| %>
	

<div class="row">
<div class="col m10 l6 s12"><div class="box z-depth-2">
    <form>
      <div class="row">
        <div class="input-field col s12 m12">
          <%= f.input :eventname, label: 'Event Name', class: 'validate' %>
        </div>
      </div>
      <div class="row">
        <div class="file-field input-field col s12 m12">
          <div class="btn">
          <span>Upload Image</span>
          <%= f.input_field :image %>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 m6">
          <%= f.date_field :date, :value => Date.today.strftime("%d %B, %Y") , :autocomplete => :off, class: 'datepicker' %>
        </div>
        <div class="input-field col s6 m6">
          <%= f.text_field :time, :value => '12:00am', id: 'clock' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m12">
          <%= f.text_field :venue %>
          <%= f.label "venue" %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m12">
          <%= f.text_area :description, class: 'materialize-textarea' %>
          <%= f.label "Event Information" %>
        </div>
      </div>

        <%= f.button :submit %> 
      
    </form>
  </div><% end %>
    </div>